.gradient-background{
    -fx-background-color:linear-gradient(from 25% 25% to 100% 100%,#C5D4EB,#f2fcfe);
}
.line-color{
    -fx-background-color:#f9f6f2;
}
.container{
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-background-radius: 10;
}
.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.2), 10.0, 0.0, 0.0, 10.0);
}
.selected-button-container{
    -fx-background-color: rgba(255,255,255,0.35);
}
.button-container-mouse-moved: hover{
    -fx-background-color: rgba(255,255,255,0.25);
}

